/*Kraig Popelka Web Development Portfolio
	Author: Kraig Popelka
	Created: 8/15/2016
	Revised: 5/10/2017
	
*/

			* {
		margin: 0;
		padding: 0;
	}
	
	#container {
		width: 65%;
		max-width: 1125px;
		margin: 0 auto;
		background-size: contain;
		background-position: center;
		border-left: 2px solid #2B3145;
		border-right: 2px solid #2B3145;
		border-bottom: 2px solid #2B3145;
		/*min-height: 800px;*/
	}
	
	nav {
		border-top: 2px solid #2B3145;
		
	}
	
/*	
	.header-content {
		
		text-indent: 18%;
	} */
	
	header {
		width: 65%;
		max-width: 1125px;
		margin: 0 auto;
		text-align: center;
	}
	
	header p {
		padding: 0;
		margin: 0;
	}

	h1,h2,h3 {
		
		margin-top: 0;
		padding: 75px 0 10px 0;
		font-size: 1.6em;
		color: #2B3145;		
	}
	
	.content {
		
		margin: 0 10px;
	}
	
	h3 {
		color: #2B3145;
		border-bottom: solid #2B3145 3px;
	}
				
	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4d4d4d;
}

	li {
		float: left;
	}

	li a, .dropmenu {
		display: inline-block;
		color: #e1ddb7;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	li a:hover, .dropdown:hover .dropmenu {
		background-color: #3d3d5c;
		
	}

	li.dropdown {
		display: inline-block;
	}

	.courses {
		display: none;
		position: absolute;
		background-color: #4d4d4d;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}

	.courses a {
		color: #2B3145;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
	}

	.courses a:hover {background-color: #3d3d5c}

	.dropdown:hover .courses {
		display: block;
	}
	
	p {
		color: white;
		margin: 25px;
	}
	
	a:link {
		color: white;
		text-decoration: none;
	}
	
	a:visited {
		color: white;
		text-decoration: none;
	}
	
	p a {
			background-color: #4d4d4d;
			padding: .4em;
			border: solid #324847 1px;
		}
		
		p a:hover {
			background-color: #3d3d5c;
			padding: .4em;
			border: solid #8C8C8C 3px;
		}
