/* -- Landing Page -- */
#site-title, #sub-title {
    position: absolute;
    bottom: 250px;
    color: #db3949;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    margin-left: 110px;
}

#site-title {
    font-size: 8em;
    margin-top: 200px;
}

#sub-title {
    font-size: 4em;
    bottom: 100px;
}

#below-fold-content {
    position: absolute;
    top: 100%;
}

/* -- About and Skills section --*/
#about-content, #skills-content {
    margin: 75px auto;
    padding: 50px;
    border-radius: 3px;
}

#about-content {
    width: 45%;
    background-color: #18748e;
    color: #dedec9;
    border: 2px solid #dedec9;
}

#about-pic {
    text-align: center;
    width: 100%;
}

#skills-content {
    width: 60%;
    max-width: 1200px;
    text-align: center;
    background-color: #d6dbbb;
    color: #382442;
    border: 2px solid #18748e;
}

#dabbled-skills {
    margin-top: 75px;
    border-top: 5px solid #382442;
    text-align: left;
}

/* -- Works section --*/
.project-list {
    width: 100%;
    margin: 25px;
    text-align: center;
}

.project-item {
    display: inline-block;
    width:55%;
    min-width: 250px;
    margin: 10%;
    border: 2px solid #d6dbbb;
    border-radius: 4px;
    -webkit-box-shadow: 21px 24px 41px -14px #df3e4eb8;
    -moz-box-shadow: 21px 24px 41px -14px #df3e4eb8;
    box-shadow: 21px 24px 41px -14px #df3e4eb8;
}

.project-item:hover {
    border: 2px solid #2cd1ff;
    cursor:pointer;
}

.project-item a {
    text-decoration: none;
    font-family: Verdana, sans-serif;
}

.project-item img {
    width: 100%;
    height: auto;
    text-align: center;
}

.project-item h3, .project-item h4 {
    text-align: left;
    padding: 10px 5%;
}

/* -- School section -- */
#school-view {
    width: 95%;
    margin: 75px auto;
}

.course-item {
    margin: 40px 0;
    padding: 20px 10px;
    border: 2px solid #d6dbbb;
    border-radius: 4px;
    font-family: "Trebuchet MS", sans-serif;
    cursor: pointer;
    -webkit-box-shadow: 10px 12px 20px -7px #df3e4eb8;
    -moz-box-shadow: 10px 12px 20px -7px #df3e4eb8;
    box-shadow: 10px 12px 20px -7px #df3e4eb8;
}

.course-item:hover {
    border: 2px solid #2cd1ff;
}

#class-header {
    margin: 30px;
}

#homework-view {
    display: none;
    width: 100%;
    background-color: #d6dbbb;
    color: #24244e;
    border: 2px solid #18748e;
    border-radius: 4px;
}

#homework-heading, #projects-heading {
    border-bottom:1px solid #18748e;
}

#homework-view a:link, #homework-view a:visited {
    text-decoration: none;
    color: #18748e;
}

#other-classes {
    width: 25%;
    margin-top: 25px;
    padding: 20px;
    background-color: #590ff8;
    color: #d2f3d5;
    border: 2px solid #d2f3d5;
    border-radius: 4px;
    -webkit-box-shadow: 10px 12px 20px -7px #df3e4eb8;
    -moz-box-shadow: 10px 12px 20px -7px #df3e4eb8;
    box-shadow: 10px 12px 20px -7px #df3e4eb8;
}

#other-classes h3{
    border-bottom: 2px solid #d2f3d5;
}


/* -- Contact section --*/

#contact {
    height: 100vh;
}

#contact-region {
    margin: 0;
    color: #b5c5c3;
}

.form-container, .contact-links {
    width: 100%;
    margin: 0 auto;
    background-color: #24244e;
}

.form-container p {
    margin: 30px;
}

.form-container textarea, input {
    width: 75%;
    font-size: 1.5em;
    background-color: #4c4c77;
    border: 2px inset #50505c;
    color: #c8e8f1;
}

.form-container textarea:focus, input:focus {
    background-color: #43438d;
}

.form-buttons, .contact-links a:link, a:visited {
    padding: 10px 5px;
    background-color: #df3e4e;
    color: #24244e;
    border: 2px outset #50505c;
    border-radius: 4px;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    cursor: pointer;
}

.contact-links a:link, a:visited {
    margin: 20px 30px;
    padding: 5px 40px;
    text-decoration: none;
}

.contact-links h1 {
    margin: 20px 30px;
}

.form-buttons:hover, .contact-links a:hover {
    color: #2cd1ff;
    border: 2px solid #2cd1ff;
}

.msg-confirm {
    padding: 0 0 30px 30px;
}

.msg-confirm h2{
    color: #42f442; 
    text-align: center; 
    margin: 15px;
}

.msg-confirm h1 {
    margin: 15px;
}

@media (min-width: 881px) and (max-width: 1500px) {
    .project-item {
        width: 75%;
        margin: 25px;
    }
}

@media (min-width: 761px) and (max-width: 880px) {

    #site-title, #sub-title {
        position: absolute;
        bottom: 250px;
        margin-left: 80px;
    }
    
    #site-title {
        font-size: 4.5em;
        margin-top: 200px;
    }
    
    #sub-title {
        font-size: 2em;
        bottom: 100px;
    }

    .project-item {
        margin: 15px;
        width: 80%
    }
}

@media (min-width: 0) and (max-width : 760px){

    #site-title, #sub-title {
        position: absolute;
        margin-left: 20px;
    }
    
    #site-title {
        top: 100px;
        font-size: 3.5em;
        margin-top: 25px;
    }
    
    #sub-title {
        font-size: 2.25em;
        top: 225px;
        margin-top: 75px;
    }

    #about-content {
        width: 85%;
        margin: 15px auto;
        padding: 5%;
        background-color: #18748e;
        color: #dedec9;
        border: 1px solid #dedec9;
    }
    
    #skills-content {
        width: 85%;
        padding: 5%;
        margin: 15px auto;
        text-align: center;
        background-color: #d6dbbb;
        color: #382442;
        border: 1px solid #382442;
    }

    .skill-icon img {
        margin: 10px;
        width: 64px;
        height: 64px;
    }

    #other-classes {
        width: auto;
        margin: 20px auto;
    }

    .project-list {
        margin: 0;
    }

    .project-item {
        width: 100%;
        margin: 30px auto;
    }
    
    .form-container p {
        margin: 30px 15px;
    }
    
    .form-container textarea, input {
        width: 100%;
    }

    .contact-links {
        width: 100%;
        white-space: nowrap;
    }

}