#WDV101 {
    background: linear-gradient(-70deg, #068c93, #0c1e70, #0c1e70);
    color: #f7f0d2;
}

#WDV101:hover {
    background: linear-gradient(-70deg, #df3e4e, #068c93, #0c1e70);
}

#WDV151 {
    background: linear-gradient(-70deg, #068c93, #d7f2d5, #d7f2d5);
    color: #df1930;
}

#WDV151:hover {
    background: linear-gradient(-70deg, #df3e4e, #068c93, #d7f2d5);
}

#WDV205 {
    background: linear-gradient(-70deg, #068c93, #3c2950, #3c2950);
    color: #b8f4c5;
}

#WDV205:hover {
    background: linear-gradient(-70deg, #df3e4e, #068c93, #3c2950);
}

#WDV221 {
    background: linear-gradient(-70deg, #068c93, #efe089, #efe089);
    color: #393965;
}

#WDV221:hover {
    background: linear-gradient(-70deg, #df3e4e, #068c93, #efe089);
}

#WDV341 {
    background: linear-gradient(-70deg, #068c93, #24314f, #24314f);
    color: #f6dc67;
}

#WDV341:hover {
    background: linear-gradient(-70deg, #df3e4e, #068c93, #24314f);
}

#WDV495 {
    background: linear-gradient(-70deg, #068c93, #ee685b, #ee685b);
    color: #331e53;
}

#WDV495:hover {
    background: linear-gradient(-70deg, #df3e4e, #068c93, #ee685b);
}

#WDV321 {
    background: linear-gradient(-70deg, #068c93, #d9e0bb, #d9e0bb);
    color: #207d82;
}

#WDV321:hover {
    background: linear-gradient(-70deg, #df3e4e, #068c93, #d9e0bb);
}

#WDV351 {
    background: linear-gradient(-70deg, #068c93, #680d4d, #680d4d);
    color: #e7efb4;
}

#WDV351:hover {
    background: linear-gradient(-70deg, #df3e4e, #068c93, #680d4d);
}