.grid-wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    grid-template-rows: auto;
}

.grid-homework-heading {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: "heading button";
}

.class-header {
    grid-area: heading;
}

.close-btn {
    grid-area: button;
    text-align: right;
}

.homework-grid-wrapper, .contact-region {
    display: grid;
    grid-template-columns: auto auto;
    margin: 30px;
}

@media (min-width: 761px) and (max-width: 880px) {
    .grid-wrapper {
        grid-template-columns: auto auto;
    }
}

@media (min-width: 0) and (max-width : 760px){
    .grid-wrapper, .homework-grid-wrapper, .contact-region {
        grid-template-columns: auto;
    }

    .grid-homework-heading {
        grid-template-columns: 60% 40%;
    }
}