/*Navbar style*/

.page-top {
    width: 100%;
}

#logo-container {
    position: fixed;
    top: 25px;
    left: 140px;
    -webkit-transition: top .5s; /* Safari */
    transition: top .5s;
    z-index: 1000;
}

#logo-container a img{
    width: 180px;
    height: 180px;
    -webkit-transition: height .5s, width .5s; /* Safari */
    transition: height .5s, width .5s;
}

.logo-container-scroll {
    top:0 !important;
}

.logo-container-scroll a img {
    width: 60px !important;
    height: 60px !important;
}

#nav-menu {
    display: flex;
    position: fixed;
    top: 50px;
    width:100%;
    justify-content: center;
    background-color: #df3e4e;
    align-items: center;
    height: 80px;
    margin: 0 0 0 109px;
    opacity: 0.99;
    z-index: 1000;
    -webkit-transition: height .5s, top .5s; /* Safari */
    transition: height .5s, top .5s;
}

.navbar-scroll{
    top:0 !important;
    height:60px !important;
}

#leftside-nav-tri {
    position:fixed;
    top:50px;
    left: 30px;
    width: 0;
    height: 0;
    border-style: solid;
    z-index: 1000;
    border-width: 0 80px 80px 0;
    border-color: transparent #df3e4e transparent transparent;
    -webkit-transition: top .5s, border-width .5s; /* Safari */
    transition: top .5s, border-width .5s;
}

.triangle-scroll {
    top:0 !important;
    border-width: 0 80px 60px 0 !important;
}

#menu {
    position: static;
}

#menu li {
    list-style-type: none;
    display: inline-block;
}

#menu li.top-link {
    margin: 20px 0px;
}

.top-link .navbar-link:link, .top-link .navbar-link:visited {
    position: relative;
    text-decoration: none;
    text-align: center;
    color: #24244e;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #24244e;
    padding: 0 25px;
    -webkit-transition: color .5s, border-bottom .5s; /* Safari */
    transition: color .5s, border-bottom .5s;
}

.top-link .navbar-link:hover {
    color: #515180;
    border-bottom: 8px solid #515180;
}

#school-menu {
    display: none;
    position: absolute;
	border-left: 2px solid #df3e4e;
	border-right: 2px solid #df3e4e;
	border-bottom: 2px solid #df3e4e;
    background: linear-gradient(-70deg, #068c93, #0d5c81, #24244e); 
    padding: 5px;
    opacity: 0.99;
    z-index: 5000;
}

#school-menu .mainNavListItem{
    display: block;
    border-bottom: 1px solid #fd021b;
    margin: 5px;
    padding: 5px;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
}

#school-menu .mainNavListItem a:link, #school-menu .mainNavListItem a:visited {
    width: auto;
    min-width: 230px;
    text-decoration: none;
    text-align: left;
    color: #df3e4e;
    margin: 0;
    padding: 0;
}

#school-menu .mainNavListItem a:hover {
    background-color: #068c93;
    color: #24244e;
}

/*Hide checkbox*/
.navbar input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
.navbar input[type=checkbox]:checked ~ #menu{
    display: block;
}

.navbar input[type=checkbox]:checked ~ #school-menu{
    display: block;
}

/*Responsive Styles*/

@media (min-width: 0) and (max-width : 760px){
    /*Style 'show menu' label button and hide it by default*/
    #leftside-nav-tri, #logo-container {
        display:none;
    }

    #menu {
        position: static;
        width: 100%;
        margin: 0 auto;
        display: none;
    }

    #menu li {
        display: block;
        width: 100%;
        margin: 10px auto;
        text-align: center;
    }

    #menu li.top-link {
        margin: 0px;
        padding: 10px 0;
    }

    #nav-menu {
        display: block;
        position: fixed;
        text-align: center;
        top:0;
        margin: 0;
    }

    #school-menu {
        width: 100%;
        display: none;
        position: absolute;
        margin: 0 auto;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #df3e4e;
        background: #24244e; 
        padding: 0;
    }
    
    #school-menu .mainNavListItem{
        display: block;
        border-bottom: 1px solid #df3e4e;
        margin: 0;
        padding: 0;
        font-family: "Trebuchet MS", sans-serif;
    }
    
    #school-menu .mainNavListItem a:link, #school-menu .mainNavListItem a:visited {
        width: 100%;
        min-width: 230px;
        text-decoration: none;
        text-align: center;
        margin: 0 auto;
        padding: 10px;
    }

    .top-link .navbar-link:link, .top-link .navbar-link:visited {
        border: none;
        color: #df3e4e;
    }

    #about-link {
        background-color: #24244e;
        color: #df3e4e;
    }

    #works-link {
        background-color: #0d5c81;
        color: #24244e;
    }

    #school-link {
        background-color: #24244e;
        color: #24244e;
    }

    #contact-link {
            background-color: #0d5c81;
            color: #24244e;
    }

    .ham-icon {
        margin-top: 20px;
        display: inline-block;
        cursor: pointer;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 3px;
        background-color: #333;
        margin: 3px 0;
        transition: 0.4s;
    }

    .show-menu {
        display:block;
    }
    
    .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-4px, 4px) ;
            transform: rotate(-45deg) translate(-4px, 4px) ;
    }
    
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-4px, -4px) ;
            transform: rotate(45deg) translate(-4px, -4px) ;
    }
}

@media (min-width: 761px) and (max-width: 880px) {
    #logo-container {
        position: fixed;
        top: 0;
        left: 70px;
        -webkit-transition: top .5s; /* Safari */
        transition: top .5s;
    }

    #logo-container a img{
        width: 100px;
        height: 100px;
        -webkit-transition: height .5s, width .5s; /* Safari */
        transition: height .5s, width .5s;
    }

    .logo-container-scroll {
        top:0 !important;
    }
    
    .logo-container-scroll a img {
        width: 50px !important;
        height: 50px !important;
    }

    #nav-menu {
        display: flex;
        position: fixed;
        top: 0;
        width:100%;
        justify-content: center;
        background-color: #df3e4e;
        align-items: center;
        height: 50px;
        margin: 0 0 0 64px;
        -webkit-transition: height .5s, top .5s; /* Safari */
        transition: height .5s, top .5s;
    }

    .navbar-scroll{
        top:0 !important;
        height:50px !important;
    }

    #leftside-nav-tri {
        position:fixed;
        top:0;
        left: 15px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 50px 50px 0;
        border-color: transparent #df3e4e transparent transparent;
        -webkit-transition: top .5s, border-width .5s; /* Safari */
        transition: top .5s, border-width .5s;
    }

    .triangle-scroll {
        top:0 !important;
        border-width: 0 50px 50px 0 !important;
    }
}