* { 
    margin: 0; 
    padding: 0;
}

body, html {
    height: 100%;
    background-size: 60px 60px;
    background-image: linear-gradient(to right, #0d5c81 2px, transparent 2px), linear-gradient(to bottom, #0d5c81 2px, transparent 2px);
    background-color: #24244e;
    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
}	

.removeBullets {
    list-style-type: none;
}

.containField {
    display: none;
}

/*Background style*/
#particles-js{
    position: absolute;
    padding: 0;
    margin: 0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-70deg, #fd021b, #12aba1, #068c93, #0d5c81, #24244e);
}

#scroll-about {
    position: absolute;
    bottom: 50px;
}

/* -- Create an area with some height to make sure the nav bar doesn't overlap
      the section header when using the auto-scroll -- */
.scroll-position {
    position: relative;
    height: 50px;
}

/* -- Section header styles -- */
.section-banner {
    position: relative;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 3em;
    background-color: #df3e4e;
    color: #24244e;
    padding: 25px 40px;
    opacity: 0.99;
}



/* -- Technology icon styles --*/
.skill-icon {
    display: inline-block;
}

.skill-icon img {
    margin: 25px;
    width: 128px;
    height: 128px;
}

/* -- DMACC Course close button -- */
#class-list-close-btn {
    display: block;
}

#close-homework-list {
    text-align: center;
    background-color:#eef0e3;
    color:#df3e4e;
    margin:15px 10px;
    padding:5px 10px;
    border:2px solid #df3e4e;
    border-radius: 7px;
    cursor:pointer;
    display:none;
}

#close-homework-list:hover {
    background-color:#df3e4e;
    color:#eef0e3;
    border:2px solid #eef0e3;
}

.fa-window-close {
    font-size: 2.5em;
}

/* -- Contact form validation error style -- */
.error {
    font-style: italic;
    color: #f20058;
}

/* -- Footer -- */
#footer {
    background-color: #df3e4e;
    color: #24244e;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    padding: 40px;
}