#ciam-card {
    background-color: #174bac;
}

#ciam-card a:link, #ciam-card a:visited {
    color: #cacaca;
}

#phone-card {
    background-color: #616161;
}

#phone-card a:link, #phone-card a:visited {
    color: #06a7d8;
}

#recipe-card {
    background-color: #2a2a2c;
}

#recipe-card a:link, #recipe-card a:visited {
    color: #c7c8c8;
}

#brew-card {
    background-color: #d8d8d8;
}

#brew-card a:link, #brew-card a:visited {
    color: #24a4d6;
}

#cauli-card {
    background-color: #403946;
}

#cauli-card a:link, #cauli-card a:visited {
    color: #eb005a;
}

#thai-card {
    background-color: #777777;
}

#thai-card a:link, #thai-card a:visited {
    color: #e6b530;
}

#edu-card {
    background-color: #6d6d6d;
}

#edu-card a:link, #edu-card a:visited {
    color: #f59425;
}

#photo-card {
    background-color: #315757;
    
}

#photo-card a:link, #photo-card a:visited {
    color: #a1a1a1;
}

#halloween-card {
    background-color: #2c2020;
}

#halloween-card a:link, #halloween-card a:visited {
    color: #da6b21;
}

#business-card {
    background-color: #dfdfdf;
}

#business-card a:link, #business-card a:visited {
    color: #0c5cb8;
}

#ad-card {
    background-color: #5c3721;
}

#ad-card a:link, #ad-card a:visited {
    color: #e67f3b;
}